apiVersion: v1
kind: Service
metadata:
  name: vernemq-k8s
  namespace: {{ dojot_namespace }}
spec:
  type: NodePort
  ports:
    - port: 1883
      targetPort: mqtt
      name: mqtt
      nodePort: 30310
    - port: 8883
      targetPort: mqtts
      name: mqtts
      nodePort: 30311
  selector:
    app: vernemq-k8s